<body class="land-body">

  <!-- first section - Home -->
  <div id="food-ins" class="food-ins">
    <div class="text-vcenter">
      <h1>Lets Stop Food Insecurity.</h1><br>
    </div>
  </div>
  <!-- /first section -->


  <div id="about" class="pad-section">
    <div class="container" style="width: 60%; margin: 0 auto;">
      <div class="col-sm-12 text-center">
        <h2><strong>The Pillars of Food Insecurity</strong></h2>
        <p class="lead">Food insecurity is a large topic and it is a very daunting task to tackle. However, researchers have broken down the causes of food insecurity into four pillars.</p>
      </div>

      <div class="row text-center">
        <div class="col-sm-3">
          <p class="pillar">I</p>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
        </div>
        <div class="col-sm-3">
          <p class="pillar">I</p>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-sm-3">
          <h3>Availability</h3>
        </div>
        <div class="col-sm-3">
          <h3>Access</h3>
        </div>
        <div class="col-sm-3">
          <h3>Utilization</h3>
        </div>
        <div class="col-sm-3">
          <h3>Stability</h3>
        </div>
      </div>
    </div>
  </div>

  <div id="about" class="pad-section">
    <div class="container" style="width: 60%; margin: 0 auto;">
      <div class="col-sm-12 text-center">
        <h2><strong>How can we Help?</strong></h2>
        <p class="lead">Our main vision is to ultimatley bring an end to food insecurity. If you are someone who suffers from the issue and are on Wellfare all you need to do is apply for an Aided Fork Account. With this account you will gain access to all the same foods, however all at a 30% discount and you don't need to drive and get it.</p>
      </div>
    </div>
  </div>


  <div id="about" class="pad-section">
    <div class="container" style="width: 60%; margin: 0 auto;">
      <div class="col-sm-12 text-center">
        <h2><strong>Benefits All</strong></h2>
        <p class="lead">At Farms2Forks, every account supports another and they all have benefits.</p>
      </div>

      <div class="row text-center">
        <div class="col-sm-4">
          <h2>Farmers</h2>
          <p class="lead">Get tax recipts, sell your food, and market your farm</p>
        </div>
        <div class="col-sm-4">
          <h2>Forks</h2>
          <p class="lead">Your purchases directly help stopping food insecurity</p>
        </div>
        <div class="col-sm-4">
          <h2>Aided Forks</h2>
          <p class="lead">Get a discount and access to fresh food</p>
        </div>
      </div>

    </div>
  </div>

  <div id="about" class="pad-section">
    <div class="container" style="width: 60%; margin: 0 auto;">
      <div class="col-sm-12 text-center">
        <a href="/users/sign_up" class="btn btn-land btn-lg" style="width: 250px;">Get Started Today <i class="fa fa-arrow-right"></i></a>
      </div>
    </div>
  </div>

</body>
